# Environments
**/.venv/
**/venv/

# Ignore Python cache files everywhere in the repo
**/__pycache__/
**/.pytest_cache/
**/*.pyc

# Frontend Dependencies (for your future React app)
node_modules/
dist/
build/

# Secrets & Configuration
**/.env
**/.env.*

